In [2]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from pylab import rcParams
rcParams['font.family'] = 'serif'
rcParams['font.size'] = 16
rcParams['figure.figsize'] = 5, 10
%matplotlib inline

# FEEG6003 Pandas workshop - Exercises

## Question 1 - Student sprint times

### Q1 (a) Find the mean, fastest and slowest of the 100m race times.

In [160]:
sprint_data = { 'Student': ['Timothy','Rajesh','Gunther','Fernando','Claude','Sarah','Juanita',
                               'Poonam','Jing','Fatima'],
            'Gender': ['M','M','M','M','M','F','F','F','F','F'],
             '100m(s)': [12.0,12.4,15,9.5,12.3,11.4,10.9,12.6,12.5,17.3],
             '200m(s)':[23.4,25.8,26.2,21.8,24.7,25.5,23.6,24.0,28.1,23.0]}
sprintdataframe = pd.DataFrame(sprint_data,columns=['Student','Gender','100m(s)','200m(s)'])
sprintdataframe

    Student Gender  100m(s)  200m(s)
0   Timothy      M     12.0     23.4
1    Rajesh      M     12.4     25.8
2   Gunther      M     15.0     26.2
3  Fernando      M      9.5     21.8
4    Claude      M     12.3     24.7
5     Sarah      F     11.4     25.5
6   Juanita      F     10.9     23.6
7    Poonam      F     12.6     24.0
8      Jing      F     12.5     28.1
9    Fatima      F     17.3     23.0

### Q1 (b) Use the pivot_table command with gender as the columns, to compare the mean 100m and 200m times for each gender. Change the aggfunc argument to find comparions of the standard deviation and mean.

## Question 2 - Using police crime statistics data for Hampshire

### The data used for this exercise is available at https://data.police.uk/data/. We have selected 24 months of crime statistics for the Hampshire region. This exercises continues the demonstration code, which should be used as a reference.

### The files have been read in for you, and the data cleaned up to leave only the month, location and crime type

In [3]:
files = !ls ./police/*/*.csv # IPython magic to find csv files in different folders
police_data = pd.concat([pd.read_csv(f) for f in files])

In [4]:
discarded_columns = ['Longitude', 'Latitude', 'Crime ID', 'Reported by', 'Falls within',\
                     'LSOA code', 'LSOA name', 'Last outcome category', 'Context']

In [5]:
police_data = police_data.drop(discarded_columns, axis=1)
police_data.head()

     Month                     Location                 Crime type
0  2014-02       On or near The Beeches      Anti-social behaviour
1  2014-02       On or near The Beeches      Anti-social behaviour
2  2014-02   On or near Sarisbury Close                   Burglary
3  2014-02  On or near Honeybottom Road  Criminal damage and arson
4  2014-02       On or near The Beeches  Criminal damage and arson

In [6]:
police_data['Month'] = pd.to_datetime(police_data['Month'])

### Q2 (a) Find the most frequently committed crime in the road that you live over the entire two year period using dataframe masking and the str.contains function

### Q2 (b) During which month on your road did the maxmimum number of Anti-social behaviour  crimes take place?

### Q2(c) Plot a line chart of the monthly variation for Anti-social behaviour on your road for the two year period.

### Q2(d) Using an or specifier "|", find the 5 roads or avenues which have the highest total crime count

### Q2(e) Find the mean crime count per road using describe. How does it compare to your road?

### Q2(f) (optional) :Wrap the code you have written into a function which takes a month and location as input arguments and produces a bar chart breakdown for the number of each criminal offense.

## Q3 Movie ratings

### In this question you are given a database of online movie ratings from the movielens project: http://grouplens.org/datasets/movielens/. The dataset contains only 100K ratings to keep the memory requirements low, there is a larger dataset of 22M ratings which can be found at http://files.grouplens.org/datasets/movielens/ml-latest.zip. Not advised on the virtual machine. 
### The larger dataset works fine on the Macbook air, (8GB RAM) and will give you better results if your machine can handle it. Warning: 620MB file.

### Q3 (a) Read the files "movies.csv" and "ratings.csv" from the ml-latest-small directory into separate dataframes and print the first 5 lines of each. Which column links the two datasets?

### Q3 (b) Merge the two data sets to link the data by movie ID, using the merge command. Check that your new dataframe now contains both film titles and ratings.

### Q3 (c) Remove the columns "userId", "movieId" and "timestamp"

### Q3 (d) Group the films by title and produce a series with .size() to find the number of user ratings per film. This series can be used as a mask to filter films above a certain number of user ratings. Check the series lists the number of user ratings per film.

### Q3 (e) Group the films by title and extract the mean of the rating column for each, sort these values in descending order. Print the top five and bottom five films by average rating.

### Repeat the output above, but apply the number of users mask for films with greater than 10 ratings. Experiment with higher number of user ratings and observe how the output changes.

### Q3 (f) Filter the original dataframe to films released in the year you were born, hint: str.contains("(year)")

### Q3 (g) Find the list of unique genres and filter your dataframe for your favourite genre for that year.

### Q3 (h) Extract the films for your chosen year and genre into a new dataframe.

### Q3 (i) Filter the films with greater than 10 ratings.